@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Admin Site</h1>
    <p>This is the Admin portal for managing products in the ecommerce application. Use the Admin page to add, edit, or delete products.</p>
</div>
